# yii console commands
/yii
/yii_test
/yii_test.bat

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant

# runtime
/protected/runtime/
*.log

# debug assets
assets/
images/20170807/1502105913.xls
images/20170807/1502107144.xls
images/20170807/1502107105.xls
images/20170807/1502107033.xls
images/20170807/1502106928.xls
images/20170807/1502106876.xls
protected/config/database.php
protected/config/admin.php
